<div class="movie-container animate-bottom hide">
    <div class="poster">
      <img
        loading="lazy"
        src="<%= movie.poster %>"
        alt=""
        class="poster-img"
      />
      <div class="poster-overlay">
        <div class="fav-play">
          <a href='/movie/?id=<%= movie["_id"] %>'>
          <i class="fa fa-play"></i>
        </a>
        </div>
        <div class="fav-icon">
          <i class="fa fa-heart"></i>
        </div>
        <div class="poster-description">
          <span><b><a href='/movie/?id=<%= movie["_id"] %>'><%= sanitizer(movie.title) %></a></b></span>
        </div>
        <div class="imdb-rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
    </div>
</div>