<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/dropdown.css">
<header>
  <nav class="nav-bar">
    <%- include("sidebar.ejs") %>
    <div class="burger">
      <div class="ham-line"></div>
      <div class="ham-line"></div>
      <div class="ham-line"></div>
    </div>
    <div class="logo">
      <a href="/"><img src="https://fontmeme.com/permalink/210128/2dd1c559b9f59998c51b723226715d97.png" alt=""></a>
    </div>
    <form autocomplete="off" class="search" method="GET" action="/search/?query=+q">
      <input
        type="text"
        name="q"
        class="search-bar-input"
        placeholder="Search Here"
        onkeyup="search(this.value)"
      />
      <input type="submit" style="position: absolute; left: -9999px" />
    </form>
    <div class="search-icon"><div class="fa fa-search"></div></div>
    <div class="href-links">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/favourites">Favourites</a>
        </li>
        <li>
          <a href="/api">API</a>
        </li>
        <li>
          <div class="profile-img">
            <div class="drop-down">
              <a href="/edit-profile" class="dd-item">
                  <img src="" alt="" class="drop-down-logo">
                  <span>Edit Profile</span>
              </a>
              <a href="/logout" class="dd-item">
                  <img src="" alt="" class="drop-down-logo">
                  <span>Log Out</span>
              </a>
          </div>
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu-motqwe4QLwpNUm67y2w2FeckEPKA6vXSYioE4xw=s32-c-mo" class="profile-pic">
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<script>
  let logo = document.querySelector(".profile-pic");
  logo.addEventListener('click',()=>{
    let dd = document.querySelector('.drop-down');
    dd.classList.toggle('dd-active');
    dd.style.opacity = 1;
  });
  var search = document.querySelector(".fa-search");
  var nav = document.querySelector(".sidebar");
  var burger = document.querySelector(".burger");
  search.addEventListener("click", () => {
    document.querySelector(".search").classList.toggle("form-active");
  });
  burger.addEventListener("click", () => {
    nav.classList.toggle("sidebar-active");
  });
</script>