<link rel="stylesheet" href="/css/nav.css">
<header>
  <nav class="nav-bar">
    <div class="burger">
      <div class="ham-line"></div>
      <div class="ham-line"></div>
      <div class="ham-line"></div>
    </div>
    <div class="logo">
      <a href="/"><img src="https://fontmeme.com/permalink/210128/2dd1c559b9f59998c51b723226715d97.png" alt=""></a>
    </div>
    <form autocomplete="off" class="search" method="GET" action="/search/?query=+q">
      <input
        type="text"
        name="q"
        class="search-bar-input"
        placeholder="Search Here"
        onkeyup="search(this.value)"
      />
      <input type="submit" style="position: absolute; left: -9999px" />
    </form>
    <div class="search-icon"><div class="fa fa-search"></div></div>
    <div class="href-links">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/favourites">Favourites</a>
        </li>
        <li>
          <a href="/api">API</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>