<section class="sidebar">
    <div class="sidebar-links">
      <div class="side-link-container">
        <a href="#">
          <div class="in-side-container">
            <div class="side-logo">
              <img src="" alt="" class="side-icon" />
            </div>
            <span class="side-link"> All Movies </span>
          </div>
        </a>
      </div>
      <div class="side-link-container">
        <a href="#">
          <div class="in-side-container">
            <div class="side-logo">
              <img src="" alt="" class="side-icon" />
            </div>
            <span class="side-link"> Latest </span>
          </div>
        </a>
      </div>
      <div class="side-link-container">
        <a href="#">
          <div class="in-side-container">
            <div class="side-logo">
              <img src="" alt="" class="side-icon" />
            </div>
            <span class="side-link"> Bollywood </span>
          </div>
        </a>
      </div>
      <div class="side-link-container">
        <a href="#">
          <div class="in-side-container">
            <div class="side-logo">
              <img src="" alt="" class="side-icon" />
            </div>
            <span class="side-link"> Hollywood </span>
          </div>
        </a>
      </div>
    </div>
  </section>