<section class="sidebar">
    <div class="sidebar-links">
      <div class="side-link-container">
        <a href="/home">
          <div class="in-side-container">
            <span class="side-link">Home</span>
          </div>
        </a>
      </div>
      <div class="side-link-container">
        <a href="/favourites">
          <div class="in-side-container">
            <span class="side-link">Favourites</span>
          </div>
        </a>
      </div>
      <div class="side-link-container">
        <a href="/api">
          <div class="in-side-container">
            <span class="side-link"> API </span>
          </div>
        </a>
      </div>
      <div class="side-link-container">
        <a href="/logout">
          <div class="in-side-container">
            <span class="side-link">Log Out</span>
          </div>
        </a>
      </div>
    </div>
  </section>