<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <a class="logo" href="/">
        <img src="/imgs/logo.png" alt="">
    </a>
    <div class="wrapper">
        <img src="/imgs/404_page_not_found_.svg" alt="">
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>