<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies Flix</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/card.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script data-consolejs-channel="5ea748e4-3d72-246b-94cc-abd20101b755" src="https://remotejs.com/agent/agent.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="wrapper">
      <%- include("partials/nav-bar.ejs") %>
      <section id="body-section">
        <%if (top10) {%>
          <%- include("partials/hero.ejs") %>
        <%}%>
        <section id="movies">
          <% if (!search) { %>
          <section id="movies-title-bar">
            <div class="current-title">
              <span class="current">All Movies</span>
            </div>
            <div class="click-menus">
              <div class="genres">
                <button class="title-button">Prev Page</button>
              </div>
              <div class="rating">
                <button class="title-button">Next Page</button>
              </div>
            </div>
          </section>
          <%}%>
          <section id="movies-list">
            <div class="loader"><div class="loading"></div></div>
            <% movies.forEach(function(movie){ %>
              <%- include("partials/card.ejs",{movie:movie}) %>
            <%})%>
          </section>
        </section>
      </section>
      <%- include("partials/footer.ejs") %>
    </div>
    <script defer src="/js/fav.js"></script>
    <script defer src="/js/script.js"></script>
  </body>
</html>
