<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Moviesflix</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="logo">
    <img src="https://fontmeme.com/permalink/210128/2dd1c559b9f59998c51b723226715d97.png" alt="">
  </div>
  <div class="wrapper">
      <div class="sign-in">
        <h1 class="sign">
        Sign In
      </h1>
      <form action="/auth/" method="POST" class="">
        <input type="text" placeholder="Enter Username" class="email">
        <input type="text" placeholder="Enter Password" class="password">
        <input type="submit" class="submit" value="Sign In">
      </form>
    </div>
  </div>
  <div class="overlay"></div>
</body>
</html>