<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Moviesflix</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <a class="logo" href="/">
    <img src="/imgs/logo.png" alt="">
  </a>
  <div class="wrapper">
      <div class="sign-in">
        <h1 class="sign">
        Sign Up
      </h1>
      <form action="/register" method="POST" class="">
        <input type="text" autocomplete="off" name="name" placeholder="Name" class="name">
        <input type="text" autocomplete="off" name="email" placeholder="Email" class="email">
        <input type="password" autocomplete="off" name="password" placeholder="Password" class="password">
        <input type="submit" class="submit" value="Sign Up">
      </form>
      <div class="register-forgot">
        <span>Already have a account?</span><a href="/login">Login Here
    </div>
  </div>
  <div class="overlay"></div>
  <script>
    document.querySelector(".submit").addEventListener('click',async(e)=>{
      e.preventDefault();
      let errors = document.querySelectorAll(".error");
      errors.forEach(e=>{
        e.textContent="";
      });
      let email = document.querySelector(".email").value;
      let pass = document.querySelector(".password").value;
      let name = document.querySelector(".name").value;
      let res = await fetch("/register",{
        "method":"POST",
        "headers":{
          "Content-Type":"application/json"
        },
        "body":JSON.stringify({
          "email":email,
          "password":pass,
          "name":name
        })
      })
      res = await res.json();
      if(!res["err"]){
        window.location='/login'
      }
      else{
        let errors = document.querySelectorAll(".error");
        errors.forEach(e=>{
          e.textContent = res['error'];
        });
      }
    })
  </script>
</body>
</html>