@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    font-family: 'Montserrat';
    color:white;
}

a {
    text-decoration: none;
}

html,body {
    width:100%;
    min-height:100%;
    background-color: #000;
}
body {
    height:100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
}
.wrapper img {
    height:30%;
    width: 30%;
}

#footer-section {
    color: white;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    bottom: 0;
    width: 100%;
    user-select: none;
    border-top: 1px solid #fff;
}