@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing:border-box;
}

html,body {
  height:100%;
}

body { background:url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/c2e1c04b-d3eb-485c-baed-e9e9e0498474/IN-en-20210125-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  display:grid;
  justify-content:center;
  align-items:center;
}

.logo {
  width:220px;
  position:absolute;
}

.logo img {
  width:100%;
  padding:10px;
  margin:5px;
}

.overlay {
  position:absolute;
  background:rgba(0,0,0,0.6);
  top:0;
  bottom:0;
  left:0; right:0;
  width:100%;
  height:100vh;
  z-index:-1;
}
.wrapper {
  width:fit-content;
  width:400px;
  border-radius:5px;
  overflow:hidden;
}

.sign {
  font-weight:bolder;
  width:100%;
}

.sign-in {
  color:white;
  display:flex;
  height:100%;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding:20px;
  background:rgba(0,0,0,0.6);
}

form {
  width:100%;
}

input {
  display:block;
  padding:10px;
  font-weight:bold;
  font-size:1rem;
  color:white;
  outline:none;
  width:100%;
  margin:15px 0;
  background:#333333;
  border:none;
  border-radius:5px;
}

.submit {
  width:100%;
  font-weight:bolder;
  background:red;
  border:none;
  color:white;
  cursor:pointer;
}

@media only screen and (max-width:410px) {
  .wrapper {
    height:auto;
    width: 100%;
  }
}